
.home{
  position: relative;
  .itemsSelectedInfo{
    z-index: 10;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    .item{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
    }
  }
  .alertSaveCollections{
    position: absolute;
    top: 0;
    left: 0;
  }
  

  h2{
    text-align: center;
  }
  .typesName{
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
}

.itemsCard{
  margin: 1rem 0;
  .dropdownButtons{
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }
  .cardImg{
    padding: 0.8rem;
    background-color: #eee;
    img{
      border-radius: 6px;
      box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.3);
    }
  }
  .cardBody{
    background-color: #eee;
  }
  .properties{
    
    h5{
      display: flex;
      align-items: flex-end;
      gap: 0.5rem;
      padding: 0.2rem 0;
    }
    .color{
      width: 1.5rem;
      height: 1.5rem;
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 50%;
    }
  }
  .infoTimeOrDelete{
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    .alert{
      width: 100%;
      margin: 0;
    }
  }
}
